$crayola: #FB554C;
$coral:#FDB3AF;
$misty:#FDE9E3;
$mango:#F4BB44;
$sunny:#FFD6AD;
$linen:#FFD6AD;
$white:#FFF;
$black:#000;
$stormy:#323334;
$smoke:#4E4F51;
$opal:#8DBAB5;
$seafoam:#CCE0DE;
$sage:#EEF1EC;
$timber:#BBA28B;
$oyster:#FFD6AD;
$cloudy:#FFD6AD;
%btn{
   background: #000000;
border-radius: 99px;
padding: 8px 24px;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: $white;
}

